#!/bin/bash
# config-load
#
# shellcheck disable=SC2034
{

DEFAULT_PORT="8888"
LOCAL_DB="%s_wp"
LOCAL_DB_USER="root"
LOCAL_DB_PASS="root"
WP_SALTS='AUTH_KEY SECURE_AUTH_KEY LOGGED_IN_KEY NONCE_KEY AUTH_SALT SECURE_AUTH_SALT LOGGED_IN_SALT NONCE_SALT'

# WP variables
WP_PLUGIN_REPO=git@bitbucket.org:gearbox-built/gearbox-plugins.git
WP_THEME_REPO=git@bitbucket.org:gearbox-built/gearbox-base-theme.git

# TODO: move plugins to .plugins
WP_PLUGINS_ACTIVATE="advanced-custom-fields-pro gravityforms force-regenerate-thumbnails soil wordpress-seo wp-migrate-db-pro mailgun"

# WP content
WP_RANDOM_IMAGE_FILE_NAME=/tmp/img-random.jpg
WP_RANDOM_IMAGE_SOURCE_FILE='https://unsplash.it/1920/1024/?random'
WP_GENERAL_CONTENT_FILE_NAME=_content-page.xml
WP_GENERAL_CONTENT_SOURCE_FILE=https://gist.githubusercontent.com/troymcginnis/3169f0f9e241b2646506ce050a45289c/raw/${WP_GENERAL_CONTENT_FILE_NAME}

}